[submodule "vendor/kroki-mcp"]
	path = vendor/kroki-mcp
	url = https://github.com/PromptExecution/kroki-mcp.git
[submodule "vendor/kubediagrams"]
	path = vendor/kubediagrams
	url = https://github.com/PromptExecution/KubeDiagrams.git
[submodule "vendor/sysmlv2-api-services"]
	path = vendor/sysmlv2-api-services
	url = https://github.com/Systems-Modeling/SysML-v2-API-Services.git
